%table.part
  %tr
    %th.part.desc{colspan: "3"} Description
  %tr
    %th.part.serial Serial
    %th.part.datev_id Datev_ID
    %th.part.price Price
  - oddeven=true
  - @parts.each do |p| cl = oddeven ? "odd" : "even"; oddeven = !oddeven
    %tr
      %td.part.desc{colspan: "3", class: cl}= link_to p.desc, p
    %tr
      %td.part.serial{id: "serial_"+p.id.to_s, class: cl}= p.serial
      %td.part.datev_id{id: "datev_id_"+p.id.to_s, class: cl}= p.datev_id
      %td.part.price{id: "price_"+p.id.to_s, class: cl}= p.price || "(no)"
