- @title = "Inventar.Part"
%h2
  Part
  %span= link_to "Edit", edit_part_path(@part)
  %span= link_to "Delete", part_path(@part), :method => :delete, |
                 :confirm => "Are you sure to delete this part?" |
= @parts=[@part]; render "list"
