<% @title = "Inventar.Part" %>

<h2><%= @part.desc %></h2>
<%= link_to "Edit Part", edit_part_path(@part) %>
<%= link_to "Delete Part", part_path(@part), :method => :delete,
            :confirm => "Are you sure to delete this part?" %>
