%table.part_desc
  %tr
    %th.part_desc.desc Description
    %th.part_desc.manufac Manufacterer
    %th.part_desc.parttype PartType
    %th.part_desc.partno PartNo
  - oddeven=true
  - @part_descs.each do |pd| cl = oddeven ? "odd" : "even"; oddeven = !oddeven
    %tr
      %td.part_desc.desc{class: cl}= link_to pd.desc, pd
      %td.part_desc.manufac{id: "manufac_"+pd.id.to_s, class: cl}= pd.manufac
      %td.part_desc.parttype{id: "parttype_"+pd.id.to_s, class: cl}= pd.parttype
      %td.part_desc.partno{id: "partno_"+pd.id.to_s, class: cl}= pd.partno
